<!doctype html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
	<meta charset="utf-8">

	<title>Crisis Containment Service</title>
</head>

<body>
<nav>
	<a id="leftMostMenuItem" href="#"><img id = "navBarImage" src="resources/exc.png">Notifications</a>
<div class="dropdown">
  <button class="dropbtn"><a href="#"><img id = "navBarImage" src="resources/face2.png"> Profile <i class="fa fa-caret-down"></i></a></button> 
  <!--fa fa.. e pt sageata de jos-->
  <div class="dropdown-content">
	      <a href="#"> &raquo; Your profile</a>
	      <a href="#"> &raquo; Settings </a>
	      
  </div>
</div>

	<a href="#"><img id = "navBarImage" src="resources/logout.png">Logout</a>






</nav>
</body>
	<p >
		Lorem ipsum dolor sit amet, his ad volumus maluisset intellegam. Vim sale augue semper et. Causae aliquid vix eu, est an alia prompta sadipscing. Te quo veniam corrumpit intellegat, movet petentium vim no, eu mea odio minim. Eam ne illud pericula splendide, eos equidem fuisset efficiendi in.
	</p>
	<p>Sed exerci theophrastus an, vel quidam pericula urbanitas at. Detracto pertinax electram at quo, dico cibo virtute mei ea, cu eos harum omittam erroribus. Esse alterum referrentur qui ad, ea qui clita aliquando interesset. Nonumy albucius offendit et mei. Ex quo aliquando vulputate dissentiet, duo illud vocibus cu, mea labore volutpat cu. Ius persius inimicus concludaturque et, vim te argumentum appellantur.
	</p>
	<p>Vis te sonet expetenda, ex sed nominati periculis. Nam volumus fabellas at, ferri prima molestiae ius cu, eu mazim equidem euripidis eum. Te iudico deseruisse repudiandae vim. Libris utamur ne per, duo melius disputando reformidans in.
	</p>
	<p>No nam vidisse complectitur deterruisset, regione perpetua ad pri. Antiopam mediocritatem no eos, dolor atomorum adversarium vel et. Euismod interesset ex eum. Fabulas saperet suscipit et per, eirmod latine eruditi ei sea. Ex sed vocent eligendi moderatius. Cu sea vide illud adversarium, ius te nulla phaedrum splendide, mea periculis assueverit no.
	</p>
	<p>Animal volumus phaedrum mel ad. Dolore omittam instructior at sed, eam mucius comprehensam necessitatibus id, duis pertinax est ei. Erant ancillae sea an, maluisset democritum intellegam has ne. Sea esse consul ei.
	</p>
	<p>Mel no audiam inermis intellegebat, omittam senserit in vim. At qui amet melius, at omnium delicata mei, vim at dolore gloriatur voluptaria. Enim verterem ocurreret ea his, appetere omittantur an sed. Forensibus efficiantur at pri, error dicant eripuit eu cum. Soluta moderatius intellegebat eu sit, sumo falli maiorum cum an.
	</p>
	<p>In doctus sententiae pri, nam quis nullam explicari id. Postulant iracundia reformidans ex nec. Ex utroque accusata vis, cu vim justo saepe quando, his ex meis efficiantur definitionem. Te integre interpretaris sea.
	</p>
	<p>Sed at detraxit accommodare, te repudiare appellantur instructior quo, vis ad choro putant adversarium. His at paulo singulis incorrupte. Oporteat percipitur no mea. Quo nostro dolores menandri te, usu persecuti accommodare et.
	</p>
	<p>Id vim omnium petentium, ne pro constituto dissentias, nullam minimum his te. Eam no soluta definitiones, purto expetenda principes eum te. Duo ad doctus ponderum repudiandae, nam magna soluta no, tamquam utroque at has. Ad sed movet fabulas minimum.
	</p>
	<p>Deleniti efficiantur te his. Vis et errem postulant persequeris, no eius commodo sit, quem quis persecuti ut sed. Et unum civibus voluptatum per, mei an homero legere. In nec ullum voluptatibus, eum consul iracundia intellegam in. Vel ex ubique nominavi oporteat, eos summo aperiri ne.
	</p>
</html>
