#formContainer
{
    width: 1157px;
    height: 1024px;

    background: #FFFFFF;
}

#PersonalInformation
{
    width: 453px;
    left: 352px;
    top: 98px; 
    
    font-family: Roboto;
    font-size: 48px;
    
    color: #000000;
}

#personalInformationContainer
{  
    width: 1039px;
    height: 801px;
    left: 59px;
    top: 169px;
   
    background-color: #1abc9c;
    padding-left: 58px;
    z-index: 100;
    background: #F0EDED;
}

#ProfilePicture
{
    margin-top: 20px;
    margin-left:435px;
    width: 158px;
    height: 135px;        
    opacity: 0.4;
    background-color: #d6d6d6;
    font-size: 24px;
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, 0.96);
    color: white;
}

#Name, #Surname, #DateOfBirth, #PhoneNumber
{
    margin-left: 245px;
    
    padding-top: 10px;
    padding-bottom: 5px;

    font-family: Roboto;
    font-size: 24px;
    
    color: #000000;
}

#NameContainer, #SurnameContainer, #DateOfBirthContainer, #PhoneNumberContainer
{
    margin-left: 245px;
    
    width: 540px;
    padding-left: 20px; 
    height: 50px;    
    opacity: 0.4;
    background-color: #d6d6d6;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, 0.96);
    color: black;
}

#cubeTick 
{

    margin: 0 auto;  
    width: 43px;
    height: 34px;
    left: 305px;
    top: 669px;
  
    background: #C4C4C4;
}

#Save 
{
    margin: 0 auto;
    width: 211px;
    height: 59px;
    left: 473px;
    top: 822px;
  
    background: #C4C4C4;
}

#UseMyLocationBox
{
    margin-top: 20px;
    width: 30px;
    height: 30px;
    background: #F5F2F2;
    border: 1px solid #595959;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 245px;
}

#checkboxContainer 
{   
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    color: black;
}

input[type="button"] {
    margin-top: 40px;
    width: 409px;
    height: 53px;
    margin-left: 300px;
    background-color: #4286f4;
    font-family: loginPageTextFont;
    font-size: 36px;
    color: #ffffff;
    border-color: #091e44;
    border-style: solid;
    cursor: pointer;
  }
  
  input[type="button"]:active
  {
    background-color: #124496;
  }

  #error{
    font-family: loginPageTextFont;
    font-size: 18px;
    color: red;
    display: block;
    margin-left: -164px;
    margin-bottom: 40px;
    text-align: center;
  }