#formContainer
{
    width: 1157px;
    height: 1024px;

    background: #FFFFFF;
}

#PersonalInformation
{
    width: 453px;
    left: 352px;
    top: 98px; 
    
    font-family: Roboto;
    font-size: 48px;
    
    color: #000000;
}

#personalInformationContainer
{  
    width: 1039px;
    height: 801px;
    left: 59px;
    top: 169px;
   
    background-color: #1abc9c;
    padding-left: 58px;
    z-index: 100;
    background: #F0EDED;
}

#ProfilePicture
{
    width: 153px;
    height: 135px;
    margin: 0 auto;
    background: #C4C4C4;
}

#ProfilePictureText 
{
    margin: 0 auto;
    text-align: center;
    
    font-family: Roboto;
    font-size: 24px;
    
    color: #000000;
}

#Name, #Surname, #DateOfBirth
{
    margin-left: 245px;
    
    font-family: Roboto;
    font-size: 24px;
    
    color: #000000;
}

#NameContainer, #SurnameContainer, #DateOfBirthContainer 
{
    position: relative;
    width: 540px;
    padding-left: 20px; 
    height: 50px;    
    opacity: 0.4;
    background-color: #d6d6d6;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, 0.96);
    color: white;
}

#cubeTick 
{

    margin: 0 auto;  
    width: 43px;
    height: 34px;
    left: 305px;
    top: 669px;
  
    background: #C4C4C4;
}

#Save 
{
    margin: 0 auto;
    width: 211px;
    height: 59px;
    left: 473px;
    top: 822px;
  
    background: #C4C4C4;
}

#UseMyLocationBox
{
    width: 20px;
    height: 20px;
    background: #F5F2F2;
    border: 1px solid #595959;
    box-sizing: border-box;
    cursor: pointer;
}

#UseMyLocationContainer
{
    position: relative;
    left: -5px;
    top: 35px;
    font-family: loginPageTextFont;
    font-size: 18px;
    color: white;
}