<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=loginPageTextFont" rel="stylesheet">
    <link href = "PersonalInformationForm.css" rel = "stylesheet" type = "text/css">
</head>
<body>
<div id="formContainer">
    <div id="PersonalInformation">
        Personal Information
    </div>
    <div id="personalInformationContainer">
        <div id="ProfilePicture">
            <div id="ProfilePictureText">
                Profile <br> picture
            </div>
        </div>
        <div id="Name">
            Name
        </div>
        <div id="NameContainer">
            <div>

            </div>
        </div>
        <div id="Surname">
            Surname
        </div>
        <div id="SurnameContainer">
            <div>

            </div>
        </div>
        <div id="DateOfBirth">
            Date of Birth
        </div>
        <div id="DateOfBirthContainer">
            <div>

            </div>
        </div>
        <div id="cubeTick">

        </div>
        <div id="cubeTick">

        </div>

        <div id="Save">

        </div>

    </div>
</div>
</body>
</html>