<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=loginPageTextFont" rel="stylesheet">
    <link href = "PersonalInformationForm.css" rel = "stylesheet" type = "text/css">
    <script src="PersonalInformationForm.js" type="text/javascript"></script>
</head>
<body>
<div id="formContainer">
    <div id="error"></div>
    
    <div id="PersonalInformation">
        Personal Information
    </div>
    <div id="personalInformationContainer">
    <form>
        <input type="upload" id="ProfilePicture" placeholder=" Profile picture ">
        
        <div id="Name"> 
            Name
        </div>
        <input type="text" id="NameContainer" placeholder="Tucsi" onchange="checkName();">
        
        <div id="Surname">
            Surname
        </div>
        <input type="text" id="SurnameContainer" placeholder="Pinguinescu" >
        
        <div id="DateOfBirth">
            Date of Birth
        </div>
        <input type="date" id="DateOfBirthContainer" placeholder="dd-mm-yyyy" >
        
        <div id="PhoneNumber">
            Phone Number
        </div>
        <input type="text" id="PhoneNumberContainer" placeholder="0000-000-000">

        <br>

        <label id="checkboxContainer">
            <input type="checkbox" id="UseMyLocationBox"> Use my location
        </label>

        <br>

        <label id="checkboxContainer">
                <input type="checkbox" id="UseMyLocationBox"> placeholder
        </label>
        
        <br>
        <input type="button" value="Save" name="form" >
    </form>
    </div>
</div>
</body>
</html>