<!DOCTYPE html>
<html>

<head>
    <link href="map.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=loginPageTextFont" rel="stylesheet">
    <title>Map</title>
</head>

<body>
    <div id="mapContainer">
        <iframe allowfullscreen src="http://google.org/crisismap/weather_and_events?hl=en-GB&embedded=true" id="map"></iframe>
        <div id="options">
            <!-- to format -->
            Use double left click to zoom in and double right click to zoom out.
            <br> You can see the full map
            <a href="http://google.org/crisismap/weather_and_events?hl=en-GB" target="_blank">here</a>
            <br> More options here.</div>
    </div>
</body>

</html>