#mapContainer {
    position: relative;
    top: 10%;
    left: 15%;
    width: 85%;
    height: 85%;
    overflow: auto;
    clear: both;
}

#map {
    position: absolute;
    width: 80%;
    height: 100%;
    border: none;
}

#options{
    position: absolute;
    top: 0;
    left: 80%;
    width: 20%;
    height: 100%;
    word-wrap: break-word;
    font-family: loginPageTextFont;
    font-size: 18px;
}

body{
    height: 100vh;
    overflow: hidden;
}