<html>

<head>
    <meta charset="utf-8">
    <link href="loginBox.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div id="loginContainer">
        <div class="Welcome">Welcome</div>

        <form>
            <div id="email">
                Email
            </div>

            <input type="text" class="inputText">

            <div id="password">
                Password
            </div>

            <input type="text" class="inputText"><br>

            <label id="rememberContainer">
            <input type="checkbox" id="rememberBox">
            Remember me
            </label>
        </form>
    </div>
</body>

</html>