#coverBlurrDiv {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	visibility: hidden;
	z-index: 100;
}


@media only screen and (min-width: 1080px) {
	#logoWrapper {
		position: fixed;
		top: 0;
		left: 30px;
		height: 100px;
		width: 150px;
		z-index: 99;
		font-family: menuTextLabel;
		background-color: #41B3A3;
		font-size: 70px;
		text-align: center;
		border-radius: 0px 0px 30px 30px;
		border-color: white;
		border-style: solid;
		border-top: hidden;
		border-width: 5px;
		color: white;
	}
}

@media only screen and (max-width: 1080px) {
	#logoWrapper {
		position: fixed;
		top: 0;
		left: 1%;
		height: 10;
		width: 100px;
		z-index: 99;
		font-family: menuTextLabel;
		background-color: #41B3A3;
		font-size: 50px;
		text-align: center;
		border-radius: 0px 0px 30px 30px;
		border-color: white;
		border-style: solid;
		border-top: hidden;
		border-width: 5px;
		color: white;
	}
}

@media only screen and (max-width: 500px) {
	#logoWrapper {
		position: fixed;
		top: 0;
		left: 1%;
		height: 25px;
		width: 40px;
		z-index: 99;
		font-family: menuTextLabel;
		background-color: #41B3A3;
		font-size: 20px;
		text-align: center;
		border-radius: 0px 0px 10px 10px;
		border-color: white;
		border-style: solid;
		border-top: hidden;
		border-width: 1px;
		color: white;
	}
}

html {
	height: 100%;
	width: 100%;
	scroll-behavior: smooth;
}
body {
	height: 100%;
	width: 100%;
}

#scrollButton {
	content: url(resources/down-arrow.png);
	position: fixed;
	bottom: 20px;
	left: 50%;
	height: 60px;
	width: 60px;
}

#firstPart {
	background-color: #85DCBE;
	width: 100%;
	height: 85%;
	z-index: 50;
	text-align: center;
}

#secondPart {
	background-color: white;
	width: 100%;
	height: 15%;
	z-index: 50;
}

.thirdPart {
	background-color: white;
	width: 100%;
	height: 75%;
	z-index: 50;
	display: inline-block;
}

.thirdPartOne {
	width: 50%;
	float: left;
}

.thirdPartTwo {
	width: 50%;
	float: left;
	text-align: center;
}

.thirdPartText {
	text-align: left;
	padding-left: 10%;
	padding-top: 8%;
	font-family: partText;
	font-size: 50px;
}

#textFirstPart {
	color: white;
	text-align: center;
	font-size: 350%;
	padding-top: 130px;
}

#fire {
	padding-top: 60px;
	content: url(resources/Login/flame.png);
	height: 100px;
	width: 100px;
}

#fireContainer {
	display: inline-block;
}
#fireText {
	color: #ED4337;
	font-size: 50px;
	padding-top: 10px;
}

#flooding {
	padding-top: 60px;
	content: url(resources/Login/sea.png);
	height: 100px;
	width: 100px;
	padding-left: 200px;
}

#floodingContainer {
	display: inline-block;
}

#floodingText {
	color: #4BAAB9;
	font-size: 50px;
	padding-left: 200px;

}

#earthquake {
	padding-top: 60px;
	content: url(resources/Login/earthquake.png);
	height: 100px;
	width: 100px;
	padding-left: 200px;
}

#earthquakeContainer {
	display:inline-block;
}

#earthquakeText {
	color: #7C0227;
	font-size: 50px;
	padding-left: 200px;
	padding-top: 10px;
}

#tornado {
	padding-top: 60px;
	content: url(resources/Login/tornado.png);
	height: 100px;
	width: 100px;
	padding-left: 200px;
}

#tornadoContainer {
	display:inline-block;
}

#tornadoText {
	color: #A4A4A1;
	font-size: 50px;
	padding-top: 10px;
	padding-left: 200px;
}

#firstPartContainer {
	text-align:center;
}

#textFirstPartUnder {
	text-align: center;
	font-size: 130%;
	color: white;
}

#middlePart {
	background-color: white;
	width: 100%;
	min-height: 200px;
	font-family: homePageText;
	text-align: center;
	vertical-align: middle;
	line-height: 200px;
	font-size: 150px;
}

nav {
	position: relative;
	width: 55%;
	background-color: #41B3A3;
	border-radius: 30px 0 0 30px;
	font-size: 0;
	float: right;
}
nav a {
	padding-left: 40px;
	padding-right: 40px;
	line-height: 50px;
	height: 100%;
	font-size: 20px;
	display: inline-block;
	text-decoration: none;
	color: white;
	cursor: pointer;
}

body {
	margin: 0;
	font-size: 30px;
	font-family: homePageText;
}

/*body > *:not(.loginContainer):not(#loginLeftText):not(#navDivWrapper) {
	filter: blur(3px);
  }*/

img.navBarImage {
	width: 30px;
	height: 30px;
	vertical-align: middle;
	padding-right: 10px;
}

div#navDivWrapper {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 100;
	font-family: menuTextLabel;
}


@font-face {
	font-family: loginPageTextFont;
	src: url(resources/navBarTextFont.ttf);
}
@font-face {
	font-family: homePageText;
	src: url(resources/Pack.ttf);
}
@font-face {
	font-family: menuTextLabel;
	src: url(resources/teen.ttf);
}

@font-face {
	font-family: partText;
	src: url(resources/Yano.ttf);
}


.lineFromCenter {
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}
.lineFromCenter:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: steelblue;
  height: 4px;
  transition-property: left, right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.lineFromCenter:hover:before, .lineFromCenter:focus:before, .lineFromCenter:active:before {
  left: 0;
  right: 0;
}

#loginLeftText {
	width: 500px;
	height: 600px;
	position: fixed;
	color: aliceblue;
	left: -500px;
	top: 13%;
	visibility: hidden;
	background-color: mediumaquamarine;
	padding-left: 15px;
	border-left: solid steelblue;
	border-width: 10px;
	z-index: 100;
	
  }
  #loginLeftText:active {
	visibility: visible;
  }

  #registerLeftText {
	width: 500px;
	height: 600px;
	position: fixed;
	color: aliceblue;
	left: -500px;
	top: 13%;
	visibility: hidden;
	background-color: mediumaquamarine;
	padding-left: 15px;
	border-left: solid steelblue;
	border-width: 10px;
	z-index: 100;
	
  }
  #registerLeftText:active {
	visibility: visible;
  }

  .redLetter {
	color: #ED4337;
	display: inline;
  }