/* CSS Document */
nav {
	position: relative;
	width: 50%;
	background-color: #34495e;
	border-radius: 30px 0 0 30px;
	font-size: 0;
	float: right;
}
nav a {
	padding-left: 40px;
	padding-right: 40px;
	line-height: 50px;
	height: 100%;
	font-size: 20px;
	display: inline-block;
	position: left;
	text-decoration: none;
	color: white;
	cursor: pointer;
}

/*body > *:not(.doNotBlurr) {
  filter: blur(3px);
}*/

body {
	margin: 0;
}

nav a:hover
{
	background-color: #1abc9c;
}

nav a:hover#leftMostMenuItem
{
	background-color: #1abc9c;
	border-radius: 30px 0 0 30px;
}

body {
	font-size: 30px;
	font-family: loginPageTextFont;
	background-color: black;
}

div.loginImages {
	width: 100%;
	z-index: 90;
	top: 0; right: 0; bottom: 0; left: 0;
	opacity: 0.3;
}

div#image1 {
	
	content: url(resources/Login/fire.jpg);
}

div#image2 {
	content: url(resources/Login/flooding.jpg);	
}

div#image3 {
	content: url(resources/Login/ground-crack.jpg);	
}

div#image4 {
	content: url(resources/Login/tornado.jpg);
}

img.navBarImage {
	width: 30px;
	height: 30px;
	vertical-align: middle;
	padding-right: 5px;
}

/*div#loginWindow {
	background: rgba(34,34,34,0.75);
	display: none;
	width: 400px;
	height: 500px;
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	top: 20%;
}*/

div#navDivWrapper {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 100;
}

/*div#loginWindow:target {
	display: block;
}*/

@font-face {
	font-family: loginPageTextFont;
	src: url(resources/navBarTextFont.ttf);
}
