<!doctype html>
<html lang="zxx">

<head>
	<meta charset="utf-8">
	<title>Login</title>
	<link href = "loginStyleSheet.css" rel = "stylesheet" type = "text/css">
    <link href="loginBox.css" rel="stylesheet" type="text/css">
    <link href="registerBox.css" rel="stylesheet" type="text/css">
    <script src="login.js"></script>
    <script src="menuButtonAttachedFunctions.js"></script>
</head>

<body onload="onLoad();">
    <div id = "coverBlurrDiv"></div>
    <div id = "logoWrapper"><div class = "redLetter">C</div>riC</div>

	<div id="navDivWrapper">
		<nav>
            <div class="lineFromCenter"><a href="#"></a></div>
			<div class="lineFromCenter"><a href="#" onclick="removeOtherTextButAbout()"><img class = "navBarImage" src="resources/about.png" alt="About">About</a></div>
			<div class="lineFromCenter"><a href="#loginBox" onclick="removeOtherTextButLogin()" ><img class = "navBarImage" src="resources/login.png" alt="Login">Login</a></div>
			<div class="lineFromCenter"><a href="#registerContainer" onclick="removeOtherTextButRegister()"><img class = "navBarImage" src="resources/register.png" alt="Register">Register</a></div>
			<div class="lineFromCenter"><a href="#" onclick="removeOtherTextButContact()"><img class = "navBarImage" src="resources/contact.png" alt="Contact">Contact</a></div>
		</nav>
	</div>
	<div id = "loginBox" class = "loginContainer">
        <div id = "loginText"><p id = "Welcome">Welcome</p></div>
        <div id = "errorLogin"></div>
        <form name="loginForm">
            <div id="emailLabelLogin">Email</div>

            <input type="text" id="emailLogin" placeholder="ex: something@email.com">

            <div id="passwordLabelLogin">Password</div>

            <input type="password" id="passwordLogin" placeholder="*****************">

            <br>

            <img src="resources/eye/006-eye.png" id="passEyeLogin" onclick="togglePassLogin();" alt = "404">

            <label id="rememberContainer">
                <input type="checkbox" id="rememberBox"> Remember me
            </label>

            <div id="forgotPassword">Forgot password?</div>

            <input type="button" value="Log In" name="form" onclick="login();">
        </form>
    </div>
    <div id = "loginLeftText">
        <p>LOGIN> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p> 
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div id = "registerLeftText">
            <p>REGISTER> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p> 
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>



    <div id = "registerContainer">
            <div class="Welcome">Welcome</div>
    
            <div id="errorRegister">
    
            </div>
    
            <form>
                <div id="emailLabelRegister">
                    Email
                </div>
    
                <input type="text" id="emailRegister" placeholder="ex: something@email.com">
    
                <div id="passwordLabelRegister">
                    Password
                </div>
    
                <input type="password" id="passwordRegister" placeholder="*****************">
                <br>
    
                <img src="resources/eye/006-eye.png" class="passEyeRegister" onclick="togglePassRegister();" alt = "404">
    
                <div id="passwordAgainLabel">
                    Confirm Password
                </div>
    
                <input type="password" id="passwordAgain" placeholder="*****************" onchange="checkPassword();">
                <br>
    
                <img src="resources/eye/006-eye.png" class="passEyeRegister" onclick="togglePassAgain();" alt = "404">
    
                <label id="acceptContainer">
                    <input type="checkbox" id="acceptBox"> I accept the terms and conditions
                </label>
    
                <input type="button" value="Submit" name="form" onclick="register();">
            </form>
        </div>


<div id = "scrollButton" onclick="topFunction();">Button</div>

<div id = "firstPart">
    <div id = "textFirstPart"><div class="redLetter">Crisis</div> Containment Service</div>
    <div id = "textFirstPartUnder">Helping people to find and use critical emergency information when they <div class = "redLetter">need it most</div></div>
    <div id = "firstPartContainer">
        <div id = "fireContainer">
            <div id = "fire"></div>
            <div id = "fireText">Fire</div>
        </div>
        <div id = "floodingContainer">
            <div id = "flooding"></div>
            <div id = "floodingText">Water</div>
        </div>
        <div id = "tornadoContainer">
            <div id = "tornado"></div>
            <div id = "tornadoText">Air</div>
        </div>
        <div id = "earthquakeContainer">
            <div id = "earthquake"></div>
            <div id = "earthquakeText">Earth</div>
        </div>
    </div>
</div>

<div id = "secondPart"></div>

<div class = "thirdPart">
        <div class = "thirdPartOne"><p class = "thirdPartText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
        <div class = "thirdPartTwo"><img src="resources/flood.png" style="height: 50%; width: 50%" alt = "FLOOD.PNG"></div>
</div>

<div class = "thirdPart">
        <div class = "thirdPartTwo"><img src="resources/bonfire.png" style = "height: 40%; width: 40%" alt = "BONFIRE.PNG"><img src="resources/fire-truck.png" style = "height: 40%; width: 40%" alt = "FIRETRUCK.PNG"></div>
        <div class = "thirdPartOne"><p class = "thirdPartText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
</div>

<div class = "thirdPart">
        <div class = "thirdPartOne"><p class = "thirdPartText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
        <div class = "thirdPartTwo"><img src="resources/earthquake.png" style="height: 50%; width: 50%" alt = "EARTHQUAKE.PNG"></div>
</div>

<div class = "thirdPart">
        <div class = "thirdPartTwo"><img src="resources/umbrella.png" style="height: 50%; width: 50%" alt = "UMBRELLA.PNG"></div>
        <div class = "thirdPartOne"><p class = "thirdPartText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>

</div>


</body>
</html>